<nav class="navbar">
    <div class="container flex">
        <div class="navbar__responsive flex">
            <a href="#" class="navbar__logo">Edureka.</a>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a routerLink="/dashboard" class="navbar__link">Dashboard</a>
            </li>
            <li class="navbar__item">
                <a routerLink="/courses" class="navbar__link">Courses</a>
            </li>
        </ul>
    </div>
</nav>
