.container{
    max-width:80%;
    height:100%;
    margin:auto;
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:80px;
}