@import '../utilities';

.dashboard{
    margin-top:120px;
    h1{
        text-align:center;
    }
}
.course{
    display:none;
    text-align:center;
    margin-top:50px;

    a{
    display:block;
    padding:35px 70px;
    background-color:#27a;
    }
}

.course:first-child,.course:nth-child(2),.course:nth-child(3),.course:nth-child(4){
    display:block;
}

